contourpy
cycler
fonttools
gitdb
GitPython
joblib
kiwisolver
matplotlib
numpy
packaging
pandas
pillow
psutil
pyaml
pylorentz
pyparsing
python-dateutil
pytz
PyYAML
scikit-learn
scikit-optimize
scipy
six
smmap
threadpoolctl
tzdata
